@media screen and (max-width: 767.98px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .col-right {
    font-size: 10px;
  }

  .col-left {
    font-size: 10px;
  }

  .icon-round {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}
